body {
  font-family: 'Playfair Display', serif;
  background-color: #13171a;
  padding: 0;
}

div#container {
  width: 500px;
  margin-top: 50px;
  padding-left: 50px;
}

h1 {
  font-size: 62px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #d5d9e0;
  margin-bottom: 20px;
  line-height: 55px;
}

h2 {
  font-size: 21px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #9fa5ad;
  line-height: 1.5em;
}

span.spacer {
  display: block;
  margin: 20px 0;
  color: #b9bfc7;
}

span.contact {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  color: #868d95;
}

span.eposta {
  color: #d5d9e0;
  font-style: italic;
}
